.footer {
    background-color: #ffffff00;
    color: #000000;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}



.footer-bottom {
    color: #000000;

    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
}

.footer {
    margin-top: 5%;
border: #000000 1px solid;    color: #000000;

}
