.required{
    color: red;
    font-size: 10px;
}
.register{
    width: 400px;
    margin-left: 38%;
}.button{
width: 100%;
}
h1{
    margin-left: 39%;
    margin-top:5%;
    /* text-decoration:underline; */

}
.bacgroundImage {

	width: 100%;
	/* השתמשתי ב- vw במקום ב- % כדי לקבוע את הרוחב ביחס לרוחב של החלון ולא לעמודה */
	height: 58vw;}