
  
 .example-header-image {
    background-image: url('../../../../assets/images/chef.jpg');
    background-size: cover;
    border: 1.8px solid black;
}




.card img {
  width: 100%;
  height: 15vw;
}

.card mat-card-content {
  margin-top: 10px;

}
.cardbox{
  width: 20vw;
  height: 25vw;

}
h2{
text-align: center;}
.cardbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom:10%;

}

.mat-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-card-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;

}

.mat-card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

.mat-card-subtitle {
  font-size: 14px;
  color: #666;
}

.mat-card-image {
  width: 100%;
  height: auto;
}

.mat-card-content {
  padding: 10px;
}



.head{
  height: 7vw;
}
mat-card-title{
  font-size: large;
}