<app-nav-bar></app-nav-bar>
<div class="d-flex">
  <div position="right" class="side p-2 flex-shrink-1">

    <div class="h-filter1">
      <div class="custom-input">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="search..." [(ngModel)]="filterByName">
          <button class="btn btn-outline-secondary" type="button" (click)="filterAll()"><svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg></button>
          <button class="btn btn-outline-secondary" type="button" (click)="resetFilters()"><svg
              xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat"
              viewBox="0 0 16 16">
              <path
                d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9" />
              <path fill-rule="evenodd"
                d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z" />
            </svg></button>
        </div>
      </div>
      <div id="time-slider" >
        <div>
          <h2 class="range"> preparation time:</h2>
          <mat-slider  orientation="vertical" [color]="'warn'"  [style.width.vw]="15" class="input"
            [disabled]="false" [max]="120" [min]="0" [step]="1" [discrete]="true" [showTickMarks]="false"
            (input)="filterAll()">
            <input matSliderThumb [(ngModel)]="preparationTime" #slider>
          </mat-slider>
        </div>
      </div>
      <div id="level-slider" >
        <div>
          <h2 class="range">difficulty level: </h2>
          <mat-slider orientation="vertical" [color]="'warn'" [style.width.vw]="15" class="input"
            [max]="5" [min]="1" [step]='0' [showTickMarks]="true" (input)="filterAll()" >
            <input matSliderThumb [(ngModel)]="difficultyLevel" #slider>
          </mat-slider>
        </div>
      </div>
      <h2>choose categories :</h2>
      <section class="categories-section">
        <h4 class="h-filter">בחר קטגוריה</h4>
        <div *ngFor="let category of categoryList">
          <mat-checkbox (change)="filterCategory(category.id)" [color]="'warn'">
            {{category.name}}
          </mat-checkbox>
        </div>
      </section>
    </div>
    
  </div>
    <div class="card-container two p-2 w-100">
      <div *ngFor="let recipe of filteredRecipes">
        <app-small-recipe id="son" [recipe]="recipe"></app-small-recipe>
      </div>
  </div>
</div>
<app-footer></app-footer>