.card-container {
    display: flex; /* Make the container a flexbox */
    justify-content: space-around; /* Distribute cards evenly with space between */
    margin: 10px; 
    flex-wrap: wrap;

  }
  

  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  .filter-container{
    margin-left: 2%;
  }
  .flex{
    display: flex;
  }
  .one{
    width: 25%;
  }


 html {
  --mdc-checkbox-selected-icon-color:black !important
}
/* Ensure flexbox for card container */
.card-container.two {
  display: flex;
  flex-wrap: wrap;
  row-gap:5vw
}



.flex {
margin-bottom: 10%;
}

app-footer {
margin-top: 10%;
padding-bottom: 0%;
}
.side{
  margin-left:2% ;
}
.range{
  padding-top: 2%;
}
.form-control{
  padding-top: 2%;
  padding-bottom: 2%;
}

.input{
  color: #000 !important;
}

